body {
    background-size: auto;
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
}